.vip {
    height: auto;
    width: auto;
    flex-basis: 70%;

    p {
        font-size: 15px;
        text-align: center;
        width: 80%;
        height: auto;
        font-weight: bold;
    }
}