<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid flex1">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" routerLink="/contact">Contact us</a>
        <a class="nav-link" href="#">Donated <span [style.color]="counter > 200 ? 'green' : '' "> {{ counter }}€</span></a>
        <button (click)="countClick()">Donate 10€</button>
      </div>
      <div class="vip">
        <p *ngIf="counter >= 200; else elseback">You are a VIP <span style="font-size:100%;color:yellow;">&starf;</span></p>
        <ng-template #elseback>
            <p></p>
        </ng-template>
        <!-- second way
        <div>
        <ng-template [ngIf]="counter >= 200" [ngIfElse]="msg">
            <p>You are a VIP <span style="font-size:100%;color:yellow;">&starf;</span></p>
        </ng-template>

        <ng-template #msg>
            <p></p>
        </ng-template>
        </div> -->
      </div>
    </div>
  </div>
</nav>
